<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#617815">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/paper.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title }}</h1>
      <h2 class="project-tagline">{{ page.description }}</h2>
      {% if page.paper %}
      <a href="{{ page.paper}}" class="btn">Paper</a>
      {% endif %}
      {% if page.code %}
      <a href="{{ page.code}}" class="btn">Code</a>
      {% endif %}
      {% if page.poster %}
      <a href="{{ page.poster }}" class="btn">Poster</a>
      {% endif %}
      {% if page.slides %}
      <a href="{{ page.slides }}" class="btn">Slides</a>
      {% endif %}
    </header>

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
